/* 35em is also 560px (if basefont is 16px) */
@media only screen and (min-width: 35rem) {


/*----------- BODY --------------*/



/*----------- HEADER --------------*/



/*----------- NAVIGATION --------------*/
   

/*----------- MAIN --------------*/

div.row section {
    padding: 40px 2%;
    width: 50%;
    float: left;
   
}

.imagen-speed {width: 25%;}

div.row section:nth-child(5){ width: 100%; text-align: center; padding: 0;}

div.row section:nth-child(5) figure img {width: 40%;}

/*----------- FOOTER --------------*/
    
} /* end of media query */