/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


/*----------- BODY --------------*/
body {
    font-size: 16px;
    font-family: Verdana, sans-serif;
}


/*----------- HEADER --------------*/
header {
    padding: .5rem 2%;
    background-color: #757575;
    text-align: center;
    color: white;
}
header h1 {margin: 0; }
header h2 {margin: 0; font-weight: normal;}
header figure.logo {  margin: 0; }

/*----------- NAVIGATION --------------*/


/*----------- MAIN --------------*/


main h1 {padding: 0px 2%; text-align: center; color: #0370aa;}
main h2 {color: #0370aa;}
main h3 {padding: 0px 10px 2%; text-align: left;}
main h3.subtitulo {padding: 0px 10px 2%; text-align: center;}

a.guia {
    color:blue;
    text-decoration: underline;
    cursor: pointer;
}

div.row {
    padding: 50px 2%;
    display: flex;
    flex-wrap: wrap;
   
}




.imagen-speed {width: 20%;}

section figure img { border-radius: 5px; }

div.student-credentials {float: right; width: 50%; text-align: left}
div.student-platform {float: right; width: 50%; padding-top: 25px;}

div.wrapper-speed {float: left; width: 50%;}
div.speed-graph {text-align: center;}


div.row section:nth-child(5) figure img {width: 100%;}






div.chips {
    border: none;
    border-bottom: 1px solid #9e9e9e;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin: 0 0 20px 0;
    min-height: 45px;
    outline: none;
    -webkit-transition: all .3s;
    transition: all .3s;
}

main input {
    background: none;
    border: 0;
    color: rgba(0, 0, 0, 0.6);
    display: inline-block;
    font-size: 1rem;
    height: 3rem;
    line-height: 32px;
    outline: 0;
    margin: 0;
    padding: 0 !important;
    width: 120px !important;
}

div a.btn-azul {
    text-decoration: none;
    color: #fff;
    background-color: #009dda;
    text-align: center;
    letter-spacing: .5px;
    -webkit-transition: .2s ease-out;
    transition: .2s ease-out;
    cursor: pointer;
    line-height: 36px;
    text-transform: uppercase;
    border: none;
    border-radius: 2px;
    padding: 0 1rem;
    height: 36px;
}

/*----------- FOOTER --------------*/
footer {
    background-color: #757575;
    padding: .5rem 2%;
    text-align: center;
    clear: both;
    color: white;
    
}



/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}